body {
  color: #444;
  font-family: 'dosis';
  letter-spacing: 0.4px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 200;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'dosis';
  font-size: 60px;
  line-height: 60px;
  color: #444;
  font-weight: 200;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 120px 0 0 0;
  font-family: 'Ultra';
  font-size: 48px;
  line-height: 48px;
  color: #444;
  font-weight: 800;
  text-align: center;
}

h2::after {
  width: 30%;
  content: "";
  border-top: 1px solid #8D8E8D;
  margin: 24px auto;
  display: block;
}

h3 {
  margin: 30px 0 10px 0;
  padding: 0;
  font-family: 'dosis';
  font-size: 30px;
  line-height: 36px;
  color: #444;
  font-weight: 200;
  text-align: center;
}

h4 {
  margin: 20px 0 10px 0;
  padding: 0;
  font-family: 'dosis';
  font-size: 24px;
  line-height: 24px;
  color: #444;
  font-weight: 200;
}

.section {
  display: block;
  margin: 10px 30px;
}

#home img{
  width: 100%;
  margin-top: 10px;
  display:block;
}

.splash {
  min-height: 100%;
}

.fotorama__caption {
  bottom: 20%;
  width: auto;
  background: transparent;
}

.fotorama__caption__wrap {
  font-family: 'Ultra';
  background: transparent;
  width: 100%;
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}

.fotorama__caption__wrap span {
  display: block;
  font-family: 'dosis';
  text-align: center;
  font-size: 34px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .fotorama__caption__wrap {
    font-size: 100px;
    line-height: 100px;
  }

  .fotorama__caption__wrap span {
    font-size: 40px;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
}

@media (min-width: 992px) {
  .fotorama__caption__wrap {
    font-size: 130px;
    line-height: 130px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }

  .fotorama__caption__wrap span {
    font-size: 74px;
    line-height: 80px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
}

#sponsors li {
  line-height: 240px;
  height: 240px;
  width: 240px;
}

#sponsors ul li {
  display: inline-block;
  height: 240px;
  margin: 0 12px;
  overflow: hidden;
  padding: 5px;
  width: 240px;
}

#sponsors img {
  width: 100%;
}

#where {
  margin: 10px 0;
}

#where p {
  margin: 10px 30px;
}

#where iframe {
  display: block;
  margin: 20px 0 0 0;
  border: none;
  width: 100%;
  height: 550px;
}

#where .dir {
  font-size: 0.8em;
}

/* navbar theme */

.navbar-brand {
  padding: 6px;
}

.navbar-default {
  background-color: #000;
  border-color: #e7e7e7;
  min-height: 55px;
}

.navbar-default .navbar-nav > li > a {
  color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e7e7e7;
  background-color: #777;
}

.navbar-nav > li > a {
  line-height: 40px;
}
