body {
  color: #444;
  font-family: 'dosis';
  letter-spacing: 0.4px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 200;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'dosis';
  font-size: 60px;
  line-height: 60px;
  color: #444;
  font-weight: 200;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 120px 0 0 0;
  font-family: 'Oswald';
  font-size: 48px;
  line-height: 48px;
  color: #444;
  font-weight: 700;
  text-align: center;
}

h2::after {
  width: 30%;
  content: "";
  border-top: 1px solid #8D8E8D;
  margin: 24px auto;
  display: block;
}

.section h3 {
  margin: 30px 0 10px 0;
  padding: 0;
  font-family: 'dosis';
  font-size: 30px;
  line-height: 36px;
  color: #444;
  font-weight: 200;
  text-align: center;
}

h4 {
  margin: 20px 0 10px 0;
  padding: 0;
  font-family: 'dosis';
  font-size: 24px;
  line-height: 24px;
  color: #444;
  font-weight: 200;
}

.section {
  display: block;
  margin: 10px 30px;
}

#home img{
  width: 100%;
  margin-top: 10px;
  display:block;
}

.splash {
  min-height: 100%;
}

.fotorama__caption {
  bottom: 20%;
  width: auto;
  background: transparent;
}

.fotorama__caption__wrap {
  font-family: 'Oswald';
  background: transparent;
  width: 100%;
  display: block;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px gray;
  font-weight: 700;
  font-size: 62px;
}

.fotorama__caption__wrap span {
  display: block;
  font-family: 'dosis';
  text-align: center;
  font-size: 34px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .fotorama__caption__wrap {
    font-size: 110px;
    line-height: 130px;
  }

  .fotorama__caption__wrap span {
    font-size: 30px;
    line-height: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
}

@media (min-width: 992px) {
  .fotorama__caption__wrap {
    font-size: 130px;
    line-height: 155px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }

  .fotorama__caption__wrap span {
    font-size: 74px;
    line-height: 80px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }
}

/* sponsors */
#sponsors li {
  display: block;
  height: 120px;
  line-height: 120px;
  margin: 0 auto;
  overflow: hidden;
  width: 250px;
}

#sponsors img {
  width: 100%;
}

@media (min-width: 768px) {
  #sponsors li {
    display: inline-block;
    line-height: 240px;
    height: 240px;
    width: 240px;
    margin: 0 12px;
    padding: 5px;
  }
}

@media (min-width: 992px) {
  #sponsors li {
    display: inline-block;
    line-height: 240px;
    height: 240px;
    width: 240px;
    margin: 0 12px;
    padding: 5px;
  }
}

/* where */

#where {
  margin: 10px 0 0;
}

#where p {
  margin: 10px 30px;
}

#where iframe {
  display: block;
  margin: 20px 0 0 0;
  border: none;
  width: 100%;
  height: 550px;
}

#where .dir {
  font-size: 0.8em;
}

/* register */
.full-register {
  display: none;
}

.mobile-register {
  display: block;
}

@media (min-width: 768px) {
  .full-register {
    display: block;
  }

  .mobile-register {
    display: none;
  }
}
@media (min-width: 992px) {
  .full-register {
    display: block;
  }

  .mobile-register {
    display: none;
  }
}

/* what */
#what .index {
  display: none;
}

#what .caption p {
  font-size: 18px;
}

@media (min-width: 768px) {
  #what .index {
    display: block;
    border-radius: 50%;
    background: #000;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    margin: 3px;
    position: absolute;
  }

  #what .index span {
    margin: 7px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: block;
  }
}

/* navbar theme */

.navbar-brand {
  padding: 6px;
}

.navbar-default {
  background-color: #000;
  border-color: #e7e7e7;
  min-height: 55px;
}

.navbar-default .navbar-nav > li > a {
  color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e7e7e7;
  background-color: #777;
}

.navbar-nav > li > a {
  line-height: 40px;
}

/* footer */
#footer {
  color: #fff;
  background-color: #282828;
  padding-bottom: 70px;
  font-size: 16px;
  line-height: 16px;
}

#footer h3 {
  margin: 30px 0 10px 0;
  padding: 0;
  font-family: 'dosis';
  font-size: 30px;
  line-height: 36px;
  font-weight: 200;
}
